.all{
    display:flex;
    height:100vh;
}

.rightbar{
    width:400px;
    background: rgb(117, 168, 180);
    display:none;
    
}
.sidebar{
    width:250px;
    background: rgb(225, 238, 241);
    
}
.sidebar ul{
    
    list-style: none;
    padding:0;
    margin:0;
    text-align: center;
     

}


.sidebar li:hover{
    
    background-color: rgb(244, 251, 253);
    color:rgb(66, 66, 128);
}


.sidebarmenu{
    text-align: center;
}

ul{
    line-height: 2cm;
    font-weight: 600;
}

.content{
    flex:1;
    background: rgb(244, 251, 253);
    width:fit-content;
    

}

h1{
    display:flex;
   height:200px;
   justify-content: center;
   align-items: center;
   font-size: 150px;
   
}

.page5{
    max-width:550px;
    line-height: 20px;
    margin-left: 520px;
    margin-top:50px;
    font-size: 15px;
    text-align: right;
}

.page{
    display: none;
    width:400px;
}

.page.active{
    display:inline-block;
}

.page5{
    display:block;
}

.subtitle{
    margin-left: 100px;
    margin-top: 95px;
}
.subtitle2{
    margin-left: 100px;
    margin-top: 55px;
}

.subtitle3{
    margin-left: 100px;
    margin-top: 55px;
}
.subtitle4{
    margin-left: 100px;
    margin-top: 55px;
}
/* 여기는 hobby part */

.ssubtitle{
    margin-left: 100px;
    margin-top: 95px;
}
.ssubtitle2{
    margin-left: 100px;
    margin-top: 55px;
}

.ssubtitle3{
    margin-left: 100px;
    margin-top: 55px;
}
.ssubtitle4{
    margin-left: 100px;
    margin-top: 55px;
}
.ssubtitle5{
    margin-left: 100px;
    margin-top: 55px;
}
.ssubtitle6{
    margin-left: 100px;
    margin-top: 55px;
}
/* 여기는 body part */

.sssubtitle{
    margin-left: 100px;
    margin-top: 95px;
}
.sssubtitle2{
    margin-left: 100px;
    margin-top: 55px;
}

img{
    width:300px;
    margin-left: 600px;
   
}